[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name        = "imgw_pib"
version     = "1.0.8"
license     = {text = "Apache-2.0"}
description = "Python wrapper for IMGW-PIB API."
readme      = "README.md"
authors     = [{name = "Maciej Bieniek"}]
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "License :: OSI Approved :: Apache Software License",
    "Operating System :: OS Independent",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
    "Programming Language :: Python :: 3 :: Only",
    "Typing :: Typed",
]
requires-python = ">=3.12"
dependencies    = ["aiohttp>=3.9.4"]

[project.urls]
Homepage = "https://github.com/bieniu/imgw-pib"

[tool.setuptools.packages.find]
include = ["imgw_pib*"]

[tool.pytest.ini_options]
asyncio_mode = "strict"

[tool.mypy]
python_version = "3.13"
show_error_codes = true
warn_incomplete_stub = true
warn_redundant_casts = true
warn_unused_configs = true
check_untyped_defs = true
disallow_incomplete_defs = true
disallow_subclassing_any = true
disallow_untyped_calls = true
disallow_untyped_decorators = true
disallow_untyped_defs = true
no_implicit_optional = true
strict_equality = true
warn_return_any = true
warn_unused_ignores = true
warn_unreachable = true

[tool.ruff]
target-version = "py313"

lint.select = ["ALL"]

lint.ignore = [
    "COM812",   # Trailing comma missing
    "D203",     # 1 blank line required before class docstring
    "D213",     # Multi-line docstring summary should start at the second line
    "FBT001",   # Boolean-typed positional argument in function definition
    "FBT002",   # Boolean default positional argument in function definition
    "ISC001",   # Single line implicit string concatenation
]

[tool.ruff.lint.per-file-ignores]
"example.py" = [
    "T201",      # `print` found
]
"tests/*" = [
    "FBT001",    # Boolean-typed positional argument in function definition
    "PLR0913",   # Too many arguments in function definition
    "S101",      # Use of `assert` detected
]


[tool.ruff.lint.mccabe]
max-complexity = 25

[tool.coverage.run]
source = ["imgw_pib"]
